/* this is where all your css should be */
/* some general styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.App {
  height: 100vh;
  /* width: 100vw; */
}

/* Header component */
.navbar {
  padding-right: 15px;
  display: flex;
  font-size: 15px;
  height: 10%;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-navitems {
  display: flex;
  margin-left: auto;
}
li {
  list-style: none;
  margin: 0 8px;
}

.nav-text:hover {
  text-decoration: underline;
}

.circle_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: green;
  color: white;
}
/* End of Header Component */

/* Hero Section */
.center {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* height: 100%; */
  /* margin-bottom: 400px; */
}

@media (max-width: 768px) {
  .hero-section {
    justify-content: center;
    min-height: 70%;
  }
}

.sidehustle-logo {
  /* background-color: coral; */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 30px;
}
.logo {
  width: 20rem;
  height: 100%;
}
.search {
  /* background: coral; */
  display: flex;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  border: 0.5px solid #0000002e;
  width: 550px;
  padding: 10px 0;
  font-size: 18px;
  /* background: red; */
  cursor: pointer;
}
.search-icon {
  position: absolute;
  left: 1rem;
  top: 13px;
}
.mic-icon {
  position: absolute;
  right: 1.5rem;
  top: 13px;
}
.search_close {
  flex-basis: 80%;
  display: flex;
  border-right: 0.5px solid #0000002e;

  padding-right: 5px;
}
.search_close button {
  /* position: absolute;
  top: 16px;
  right: 3.5rem; */
  /* margin-right: 10px; */
  padding-top: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* .mic {
  margin-left: auto;
} */
@media (max-width: 768px) {
  .search {
    width: 95%;
  }
}
.close {
  /* background: coral; */
  display: flex;
  align-items: center;
  height: 32px;
  border-right: 1px solid #0000002e;
  /* margin-right: 15px;
  padding-right: 15px; */
  padding-top: 4px;
}

@media (max-width: 450px) {
  .search {
    position: relative;
    display: block;
    /* align-items: center;
    justify-content: center; */
  }

  .search-icon {
    /* background-color: green; */
    left: 10px;
    top: 12px;
  }
  .mic-icon {
    right: 10px;
    top: 12px;
  }
  .search_close {
    /* padding: 0 10px; */
    /* padding-left: 5px; */
    padding-right: 21px;
    position: relative;
    width: 75%;
    font-size: 14px;
    margin: auto;
    /* background-color: #eee; */
  }
  .search_close button {
    position: absolute;
    right: 5px;
  }
}
.search:hover,
:active {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
input {
  flex: 1;
  border: none;
  font-size: 17px;
}
input:focus {
  outline: none;
}

.search-buttons {
  margin-top: 1rem;
}

.search-buttons button {
  /* display: block; */
  margin: 1rem 20px 0;
  border: none;
  border-radius: 4px;
  padding: 10px 17px;
  width: 170px;
  font-size: 14px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-buttons button {
    display: block;
    margin-top: 1rem;
  }
}

.languages-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
  font-size: 13px;
}
.languages {
  display: inline-flex;
  color: green;
  cursor: pointer;
}
@media (max-width: 450px) {
  .search-buttons {
    display: none;
  }
  .languages-container {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .languages-container {
    font-size: 12px;
    margin-bottom: 2rem;
  }
}
/* End of Hero Section */

/* Start of Footer   */
footer {
  background-color: #e0dddd7e;
  min-height: 15%;
  font-size: 15px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer div {
  padding: 10px 30px;
  border-top: 1px solid #a5a4a42e;
  /* background-color: coral; */
}
footer nav {
  display: flex;
  /* background: red; */
}
footer nav ul {
  display: flex;
  flex: 1;
}

.last .helper {
  margin-left: auto;
}
.location {
  padding-left: 38px;
}
@media (max-width: 768px) {
  footer {
    min-height: 20%;
  }
  footer nav {
    display: block;
  }
  .last .helper {
    margin-left: 20px;
  }
  footer .nav-container {
    display: block;
    text-align: center;
    align-items: center;
  }
  footer nav ul {
    display: flex;
    justify-content: center;
  }
  footer li {
    margin: 0 15px;
  }
  footer .nav-container .last {
    margin-top: 0.6rem;
  }
}
/*End of Footer */
